@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


$background: linear-gradient(180deg, #41CCCC 0%, #292929 100%);
$white: white;

// font
html, body{
    font-family: 'Roboto', sans-serif;
    color: $white;
}


h1{
    font-size: 80px;
    font-weight: 800;
    color: $white;
    margin: 1rem;
}

h2{
    font-size: 40px;
    font-weight: 800;
    color: $white;
    margin: 1rem;
}

// RWD
$ms_bkpoint: 767.98px; //tablet
$xs_bkpoint: 374.98px; //mobile


@mixin pad {
  @media(max-width:$ms_bkpoint) {
    @content;
  }
}

@mixin mobile {
  @media(max-width:$xs_bkpoint) {
    @content;
  }
}

