@import url('../css/reset.css');
@import '_var.scss';


body{
    background: $background;
    background-repeat: no-repeat;
}

header{
    height: 14rem;
    width: 100%;
    background: 
        linear-gradient(0deg, rgba(196, 196, 196, 0.8) 0%, rgba(196, 196, 196, 0.1) 100%),
        url(../images/banner.png);
    background-size: cover;
}


nav{
    // border: solid 1px red;
    height: 4rem;
    display: flex;
    background: rgba(255, 255, 255, 0.05);

    ul{
        // border: solid 1px red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        width: 100%;
        @include pad{
            padding: 1rem;
        }

        li{
            // border: solid 1px blue;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: white;

            #logo{
                // border: solid 1px red;
                max-width: 180px;
                width: 100%;
                height: 60px;
                padding-right: 1rem;
            }

            &.nav-search{

                input{
   
                    background-color: transparent;
                    background-image: url("../images/icons/search.svg");
                    background-repeat: no-repeat;
                    background-position: 10px 6px; 

                    border: solid 2px $white;
                    border-radius: 30px;
                    width: 100%;
                    max-width: 300px;
                    height: 38px;
                    padding-left: 2.5rem;
                    color: $white;
                    font-size: 18px;

                    &::placeholder{
                        color: $white;
                    }

                    &:focus{
                        outline: none;
                        background-color: transparent;
                        color: $white;
                        caret-color: $white;
                    }

                    @include mobile{
                        width: 70%;
                        font-size: 14px;
                    }

                }


            }
        }
    }

}



.grid-container{
    // border: solid 1px red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;

    width: 100%;
    max-width: 1000px;

    #artist{
        padding: 1rem;
    }
    
}


// playlist
.playlist{
    // border: solid 1px yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 60vh;
    overflow-y: scroll;
    padding-bottom: 6rem;


    li.song-item{
        // border: solid 1px white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        margin: 1.5rem;
        width: 40%;
        position: relative;
        cursor: pointer;

        background: rgba(255, 255, 255, 0.2);
        /* glass-small */
        box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(88px);
        border-radius: 18px;

        @include pad{
            border: solid 1px red;
            width: 80%;
        }

        .now-playing-cover{
            
            img:first-child{
                position: absolute;
                z-index: 100;
                transform: translate(10%,10%);
            }
        }

        p{
            width: 100%;
            max-width: 200px;
            overflow-wrap: break-word;
            margin-left: 1rem;
        }
    }
}

// bottom playing bar
.playing-bar{
    border: solid 1px green;
    width: 100%;
    height: 94px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: rgba(255, 255, 255, 0.2);
    /* glass-small */
    box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(88px);

    .playing-bar-widget{
        // border: solid 1px red;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        &>*{
            margin: 1rem;
            cursor: pointer;
        }
    }

    .playing-progress{
        // border: solid 1px black;
        display: flex;
        align-items: center;

        .line{
            height: 4px;
            width: 100%;
            min-width: 400px;
            background-color: white;
        }

        &>*{
            margin: .5rem;
        }

    }

    .now-playing{
        display: flex;
        justify-content: space-around;
        align-items: center;

        &>*{
            margin: 1rem;
        }
    }

}

audio{
    width: 100%;
    position: fixed;
    bottom: 0;
    border-radius: 0;

}
audio::-webkit-media-controls-panel {

    background: rgba(255, 255, 255, 0.2);
    /* glass-small */
    box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(88px);
  }
