<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    
    <title>Soundly</title>
</head>
<body>

<div id="player">
    <!-- header -->
    <header>
        <!-- navbar -->
        <nav>
            <ul>
                <li class="nav-logo">
                    <a href="index.html">
                    <img id="logo" src="./images/logo.svg" alt="Soundly-logo">
                    </a>
                </li>
                <li class="nav-search" id="search"> 
                    <!-- <img class="nav-search icon-search" src="./images/icons/search.svg" alt="search">  -->
                    <input type="text" autocomplete="off" v-model="query" @keyup.enter="searchMusic" placeholder="Search...">
                </li>
            </ul>

        </nav>
    </header>


    <div class="grid-container">
    
        <div id="artist" class="title">
            <h1>Glass Animals</h1>
        </div>
        <!-- now playing item -->
        <div class="playing">
            <div class="container">
                <div class="now-playing-cover">
                    <img src="./images/icons/play-circle.svg" alt="play-circle">
                    <img class="now-playing-cover" src="./images/cover.png" alt="song-cover">
                </div>
            </div>
            <p class="playing-title">title</p>
            <p class="playing-time">tiem</p>
        </div>


        <ul class="song-list">
            <li v-for="item in musicList" class="song-item">
                <img class="now-playing-cover" src="./images/cover.png" alt="song-cover">
                <p class="item-title">{{item.name}}</p>
                <p class="item-artist">{{item.artists[0].name}}</p>
            </li>
        </ul>



    </div>


    <!-- bottom playing bar -->
    <div class="playing-bar">

        <div class="playing-bar-widget">
            <img src="./images/icons/skip-back.svg" alt="play-back">
            <img src="./images/icons/play-circle.svg" alt="play-circle">
            <img src="./images/icons/skip-forward.svg" alt="play-forward">
        </div>

        <div class="playing-progress">

            <p>1:00</p>
            <span class="line"></span>
            <p>1:00</p>

        </div>

        <div class="now-playing">
            <img class="now-playing-cover" src="./images/cover.png" alt="song-cover">
            <span>
                <p class="now-playing-artist">Glass Animals</p>
                <p class="now-playing-song">Heat Waves</p>
            </span>

        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./js/main.js"></script>



</body>
</html>